extends layout

block content
    h1= title

    section
        each hero in hero_list
            a(href=hero.hero_url)
                div.item
                    img(src=hero.image, title=hero.title + ' Image')
                    br
                    |#{hero.title}
                    

        else
            | There are no items.